<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RUSConvert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <RUSConvert.Properties.Settings>
      <setting name="CompanyName" serializeAs="String">
        <value>Royal Uccle Sport</value>
      </setting>
      <setting name="CompanyIBAN" serializeAs="String">
        <value>BE70210058032425</value>
      </setting>
      <setting name="CompanyVAT" serializeAs="String">
        <value>BE0411104311</value>
      </setting>
      <setting name="DefaultCommunication" serializeAs="String">
        <value>PRESTATION HOCKEY</value>
      </setting>
      <setting name="CompanyBIC" serializeAs="String">
        <value>GEBABEBB</value>
      </setting>
      <setting name="InvoicesSourceFolder" serializeAs="String">
        <value>R:\CLUB\FACTURES</value>
      </setting>
      <setting name="InvoicesDestFolder" serializeAs="String">
        <value>R:\CLUB\FACTURES\UBL</value>
      </setting>
      <setting name="PaymentsSourceFolder" serializeAs="String">
        <value>R:\CLUB\PRESTATIONS</value>
      </setting>
      <setting name="PaymentsDestFolder" serializeAs="String">
        <value>R:\CLUB\PRESTATIONS\PRESTATIONS</value>
      </setting>
    </RUSConvert.Properties.Settings>
  </userSettings>
</configuration>